# PYTHON DATA TYPES

# PYTHON DATA TYPES

Python has a variety of built-in data types, grouped into several categories:

---

## 1. **Basic (Primitive) Types**
- **`int`**: Integer numbers (e.g., `1`, `-42`, `2025`)
- **`float`**: Floating-point numbers (decimals, e.g., `3.14`, `-0.001`)
- **`complex`**: Complex numbers (real + imaginary, e.g., `2 + 3j`)
- **`bool`**: Boolean values (`True`, `False`)
- **`str`**: Strings (text, e.g., `"hello"`, `'Python'`)

---

## 2. **Sequence Types**
- **`list`**: Ordered, mutable collection  
  ```python
  [1, 2, 3, "apple"]
  ```
- **`tuple`**: Ordered, immutable collection  
  ```python
  (1, 2, 3)
  ```
- **`range`**: Sequence of numbers  
  ```python
  range(0, 10)
  ```

---

## 3. **Set Types**
- **`set`**: Unordered collection of unique elements  
  ```python
  {1, 2, 3}
  ```
- **`frozenset`**: Immutable set  
  ```python
  frozenset([1, 2, 3])
  ```

---

## 4. **Mapping Type**
- **`dict`**: Key-value pairs  
  ```python
  {'name': 'Alice', 'age': 25}
  ```

---

## 5. **None Type**
- **`NoneType`**: Represents the absence of a value  
  ```python
  None
  ```

---

## 6. **User-Defined Types**
- **`class`**: Custom object blueprints  
  ```python
  class Car:
      pass
  ```

---

## 7. **Other Built-in Types**
- **`bytes`**, **`bytearray`**, **`memoryview`**: For binary data

---

### **Type Checking**
You can check the type of any variable using `type()`:
```python
x = 5
print(type(x))  # <class 'int'>
```

---

**Tip:** Python is dynamically typed, so you don’t need to declare variable types explicitly.

## INTEGER

In [ ]:
# Integers
print(4)           # Basic integer
print(-100)        # Negative integer
print(0)           # Zero

# Large Integers (Python supports arbitrarily large ints)
print(123456789012345678901234567890)

# Type checking
x = 42
print(type(x)) 

# Float representation of large numbers
print(1e308)       # 1 * 10^308 (float, very large)
print(1e309)       # 'inf' (infinity, exceeds float limit)

# Converting float to int (truncates decimal part)
print(int(3.99))   # 3

# Converting string to int
print(int("123"))  # 123

# Boolean as int
print(int(True))   # 1
print(int(False))  #

4
-100
0
123456789012345678901234567890
<class 'int'>
1e+308
inf
3
123
1
0

## Float

In [2]:
# Floating-Point Numbers
print(4.5)        # Standard float

# Large Floating-Point Numbers
print(1.8e307)    # Large float (1.8 × 10^307)
print(1.8e308)    # Larger float (1.8 × 10^308)
print(1.9e308)    # Too large, results

4.5
1.8e+307
inf
inf

## bool

In [3]:
print(True)

True

In [4]:
print(False)

False

## Complex

In [6]:
print(4+5j)

(4+5j)

## Str

In [7]:
# Strings with Different Quotation Styles
print('Kolkata')         # single quotes
print("Kolkata")         # double quotes
print('''Kolkata''')     # triple single quotes (often for multi-line)
print("""Kolkata""")     # triple double quotes (often for multi-line)

# Strings with quotes inside
print("It's raining")    # single quote inside double quotes
print('He said "Hi"')    # double quotes inside single quotes

# Multi-line string
print("""Welcome to
Kolkata, the City of Joy!""")

# String with escape characters
print("Kolkata\nWest Bengal")  # newline
print("Kolkata\tIndia")

Kolkata
Kolkata
Kolkata
Kolkata
It's raining
He said "Hi"
Welcome to
Kolkata, the City of Joy!
Kolkata
West Bengal
Kolkata	India

## LIST

In [8]:
print([1,2,3,4,5,6])

[1, 2, 3, 4, 5, 6]

## TUPLE

In [9]:
print((1,2,3,5,9))

(1, 2, 3, 5, 9)

## SET

In [10]:
print({1,2,3,3,3,5})

{1, 2, 3, 5}

## DICT

In [11]:
# Dictionary
print({"Name": "Saurabh", "Age": 22, "Gender": "Male"})

{'Name': 'Saurabh', 'Age': 22, 'Gender': 'Male'}

## User-Defined Data Types (Overview)

User-defined data types in Python are created using **classes**.  
A class is like a blueprint for creating objects with custom properties and behaviors.

**Example:**
```python
class Car:
    def __init__(self, brand, year):
        self.brand = brand
        self.year = year

my_car = Car("Toyota", 2022)
print(my_car.brand)  # Output: Toyota
print(my_car.year)   # Output: 2022
```

- You define your own structure and logic.
- Useful for modeling real-world entities (e.g., Car, Student, Book).